@charset "UTF-8";
header{
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}
nav ul{
  display: flex;
}
nav ul li{
  list-style-type: none;
  margin-left: 50px;
  font-size: 20px;
}
a{
  text-decoration: none;
  color: black;
}
.mainvisual img{
  width: 100vw;
  height: 700px;
}
#about{
  text-align: center;
}
h2{
  margin-top: 100px;
  font-size: 40px;
  text-align: center;
}
#about p{
  margin-top: 50px;
}
#works ul li{
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
#works ul li img{
  width: 300px;
  height: 200px
}
#skills ul li{
  margin-top: 50px;
  text-align: center;
}
footer{
  text-align: center;
  margin-top: 50px;
  padding: 10px 0;
  background-color: #85888c;
}
@media (max-width: 600px){
  header{
    display: flow-root;
    padding: 5vh 5vw;
  }
  nav ul li{
    margin-left: 5vw;
    margin-top: 5vh;
  }
  .mainvisual img{
    height: 50vh;
  }
  #works ul li{
    display: flow-root;
    text-align: center;
  }
}
